@{
    ViewData["Title"] = "Frickdango Films";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FrickdangoFilms</h1>
    <h2 class="display-4">Our Story</h2>
    <p>				
Frickdango Films was founded in 2004 by the Frick Brothers. As young kids the brothers always loved making movies and 
short films, as well as rewatching their favorite movies over and over. 
They never thought something would come of this passion. As the two grew older, they never forgot their passion for 
film making and enjoyment of movies, it wasn’t until the older brother came up with the idea of sharing their love 
for film making to the world. 
Their goal was not only to show the world their favorite films but also share their passion for creating them too. 
As you explore our site, we hope you find a new movie you haven’t seen or feel free to add one of your favorites to 
the site to share with others. We hope you enjoy looking through our site and the flame of filmmaking never die out!
</p>


@* <iframe src="https://docs.google.com/document/d/1kG-9rRZ-r2v9mIyGoCcjgnw_5C03H2Ck03vp1JIKUfk/edit?usp=sharing" width="600" height="400" style="border: none;"></iframe> *@
</div>

<div class="text-left">
    <h2 class="display-4">Coming Soon</h2>
    <p>The Frickdango Story</p>
    <p>The Beatles: Get Back(one week only)</p>
    <p>Ready Player One</p>
    <p>Glass Onion: A Knives out story</p>
    <p>Now You See Me 2</p>

</div>
