@model FrickdangoFilms.Models.MPAA_Rating.MPAA_RatingEditVM

@{
    ViewData["Title"] = "Edit Rating";
}

<h1 class="display-4">Edit Rating</h1>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Edit" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="MovieRating" class="form-label">Rating</label>
        <input asp-for="MovieRating" class="form-control">
        <span asp-validation-for="MovieRating" class="text-danger"></span>
        </div>
          <div class="d-flex justify-content-between align-items-baseline">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <input type="submit" value="Save Changes" class="btn btn-primary">
        </div>
        </form>